{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Génération URL {% endblock %}</h1>
    <div>
        <form action="{{ url_for("generate_url")}}" method="POST">
            <div>
                <label for="login">LOGIN : </label>
                <input type="text" name="login" id="login" required autofocus>
            </div>
            <div>
                <label for="password">PASSWORD : </label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="key">CLE : </label>
                <input type="text" name="key" id="key" required>
            </div>
            <div>
                <button>Génére URL</button>
            </div>
        </form>
        <br>
        <span id="generated_url">
            {{generated_url}}
        </span>
        <br>
        <button onclick="copyText()">Copier/Coller</button>
        <br><br>
        <div id="bagde">
            <button onclick="location.href='{{generated_url}}'">Badger directement</button>
        </div>
    </div>
    <script>
        var copyText = function() {
            var urlDiv = document.getElementById('generated_url');
            var urlText = urlDiv.innerText;
            navigator.clipboard.writeText(urlText);
            urlDiv.style.backgroundColor = 'DarkBlue';
            urlDiv.style.color = 'White';
        }
    </script>
{% endblock %}
